extends layout

block content
  details(open)
    summary
      b Legislators
    ul
      each legislator in legislators
        li #{legislator.firstName} #{legislator.lastName} from #{legislator.hometown}
  h2 Legislation
  each item in legislation
    details
      summary
        b= item.title
      p= item.text
      p= item.sponsorText

