extends layout

block content
  details(open)
    summary Legislators
    ul
      each legislator in legislators
        li #{legislator.firstName} #{legislator.lastName} from #{legislator.hometown}
  details(open)
    summary Legislation
    each item in legislation
      h3= item.title
      p= item.text

